html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.125rem; /* Base calcul : 1rem=16px=> 18px=1.125rem*/
  background-color: rgba(207, 176, 236, 0.6);
  color: rgb(79, 76, 248);
  text-shadow: 1px 1px 1px black;
  border: solid 1px rgba(207, 176, 236, 0.8);
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.3)
  );
  box-shadow: 5px 5px 10px rgba(216, 98, 98, 0.3),
    /* off-set vers la droite et vers le bas//DROITE et BAS*/ inset -4px -4px
      5px rgba(0, 0, 0, 0.5),
    /*inset de l'intérieur vers la droite et vers le bas//GAUCHE et BAS*/ inset
      4px 4px 10px rgb(255, 255, 255, 0.5); /* inset de l'intérieur vers la gauche et vers le haut//DROITE et HAUT*/

  border-radius: 10px;
}
